/* layout */
body {
  display: grid;
  grid-template-rows: 7% 10% 10% 30% 30% 90% 40%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

nav {
  grid-row: 1 / 2;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  height: 4em;
}

main {
  grid-row: 2 / 6;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 17% 83%;
}

aside {
  grid-column: 1 / 2;
  padding-top: 0.5em;
  /* border: 1px solid green; */
}

section {
  grid-column-start: 2 / 4;
  display: flex;
  flex-direction: column;
  /* margin-top: 0px; */
  /* border: 1px solid blue; */
  background-color: rgba(128, 128, 128, 0.055);
}

/* typography */
#menu_logo {
  width: 25%;
  /* border: 1px solid black; */
  height: 4em;
}

#second {
  width: 75%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
  height: 3.2em;
  padding-top: 0.15em;
  padding-right: 2em;
}

#quick,
#more,
#sub {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(153, 153, 153, 0.356);
  padding-right: 15px;
}

.sub {
  display: flex;
}

.sub_info {
  display: flex;
  justify-content: flex-start;
  width: 75%;
  padding: 5px 0px 8px 20px;
}

.name {
  margin-left: 20px;
}

.blue {
  margin-left: 20px;
  /* border: 1px solid black; */
}

.each {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border: 1px solid red; */
}

.quick {
  padding-left: 20px;
}

/* .each :hover {
  background-color: rgba(128, 128, 128, 0.534);
  cursor: pointer;
}  */

#active {
  background-color: rgba(153, 153, 153, 0.26);
  font-weight: bold;
}

#sub {
  padding-top: 0.8em;
}

#buttons {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(128, 128, 128, 0.26);
  border-bottom: 1px solid rgba(128, 128, 128, 0.26);
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  padding-right: 1em;
  background-color: white;
  /* margin-top: 0em; */
  /* border: 1px solid green; */
}

.buttons {
  border: 1px solid rgba(128, 128, 128, 0.623);
  border-radius: 20px;
  text-decoration: none;
  color: black;
  background-color: rgba(128, 128, 128, 0.13);
  padding: 0.55em 0.9em 0.55em 0.9em;
}

#btn1 {
  color: white;
  background-color: black;
}

#vid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid red; */
}

.vid {
  display: flex;
  justify-content: space-evenly;
}

#vid_first {
  padding-top: 1.5em;
  /* border: 1px solid red; */
}

#vid_second {
  margin-top: 3.2em;
  /* border: 1px solid green; */
}

span {
  color: gray;
}

#span2 {
  margin-left: 0.5em;
}

.des {
  display: flex;
  font-weight: 600;
  /* border: 1px solid black; */
}

.info {
  margin-top: 1em;
}

.info1 {
  display: flex;
}

h4 {
  color: rgba(0, 0, 0, 0.582);
  margin: 0;
  margin-left: 25px;
  margin-bottom: 5px;
}

.pro {
  margin-right: 0.5em;
}
